/* -- BOARD --*/

table{
    border-collapse: separate;
    margin: 35px auto;
    border-spacing: 0;
    width: 80%; 
    height: 38em;
    background-color: #ECFCF4;
    padding: 0;
    overflow: visible;
     box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);


}

th, td {
    border: 1px solid black;
    text-align: center;
    padding: 0;
    word-break: break-all;
    overflow: visible;
}

